@import "../node_modules/hbm-react-components/css/hbm";
@import "../node_modules/hbm-react-components/components/header/Header";
@import "../node_modules/hbm-react-components/components/navigation/Navigation";
@import "../node_modules/hbm-react-components/components/icon/Icon";
@import "../node_modules/hbm-react-components/components/card/Card";
@import "../node_modules/hbm-react-components/components/textfield/Textfield";
@import "../node_modules/hbm-react-components/components/checkbox/Checkbox";
@import "../node_modules/hbm-react-components/components/button/Button";
@import "../node_modules/hbm-react-components/components/list/List";
@import "../node_modules/hbm-react-components/components/chip/Chip";
@import "../node_modules/hbm-react-components/components/snackbar/Snackbar";
@import "../node_modules/hbm-react-components/css/mixins";
@import "./Split";
@import "./State";
@import "./Searchbar";
@import "./Connections";
@import "./Overwrites";

.State-avatar, .Method-avatar {
  text-align: center;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  font-size: 22px;
  color: white;
}

.Method-avatar {
  background-color: #9f85ea;
}

.State-avatar {
  background-color: #4bc6d4;
}


.Icon {
  fill: #505050;
  cursor: pointer;
}

.Icon.Icon-Remove {
  fill: #ea6262;
}

.Icon.Icon-Add {
  fill: #54c744;
}

.Star--active {
  fill: orange;
}

.Split-left {
  z-index: 1;
  box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.24);
}

.Split-left .Searchbar {
  flex-shrink: 0;
  flex-grow: 0;
}

.Split-right .State {
  flex-grow: 1;
}


.Split-left .List {
  margin: 0 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}

