@import "../node_modules/hbm-react-components/css/mixins";
/** overwrite hbm style */

body {
  padding-top: 48px;
  @include medium {
    padding-top: 64px;
  }
}

html {
  background-color: white;
}

#app .Checkbox {
  position: relative;
  left: -8px;
}

#app main {
  /**
   * Cards have a margin of 8px => left = 40px and top = 20px
   */
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  margin-left: initial;
  margin-right: initial;

  @include large {
    width: 100%;
  }

  @include xlarge {
    padding-left: $navigation-width;
    width: 100%;
  }
}

#app .Header-title {
  @include xlarge {
    margin-left: 24px;
  }
}

#app .Card {
  margin: 10px;

  @include medium {
    margin: 20px;
  }

  @include xlarge {
    margin: 56px;
  }
}
