@import "../node_modules/hbm-react-components/css/mixins";


.Split {
  position: relative;
  overflow: hidden;
}

.Split-left {
  background-color: white; 
}

.Split-right {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translate3d(103%, 0, 0);
  transition: transform ease 0.5s;
  z-index: 300;
  height: 100vh;
  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.4);
}

.Split-right .State-hero {
  height: 48px;
  display: flex;
  align-items: center;
  min-height: 48px;
  color: white;
  background-color: #1b325f;
  h1 {
    height: initial;  
    line-height: 20px;
    font-size: 20px;
  }
}

.Split-right .State-hero > button {
  margin: 0 0;
}

@include medium {
  .Split-right .State-hero {
    color: inherit;
    background-color: inherit;
    min-height: 71px;
  }
}

.Split-right-back {
  fill: white;
}

@include medium {
  .Split-right .State-hero > button {
    display: none;
  }
}

.Split-right--visible {
  transition: transform ease 0.5s;
  transition-delay: 0.2s;
  transform: translate3d(0, 0, 0);
}

@include medium {
.Split {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  overflow: hidden;
}

.Split-right {
  position: initial;
  transform: translate3d(0, 0, 0);
}

.Split-left, .Split-right {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
  @include medium { 
    height: calc(100vh - 64px);
  }
}

.Split-left {
  width: 60%;
  /** z-index on safari requires position relative/absolute/fixed */
  position: relative;
  z-index: 200;
  box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.24);
}

.Split-right {
  flex-grow: 1;
  min-width: 320px;
  z-index: 199;
}
}

