@import "../node_modules/hbm-react-components/css/mixins";

.State {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.State, .State .Textfield input {
  background-color: #f9f9f9;
}

.State form > *:not(hr), .State-hero > * {
  margin: 0 16px;
  @include medium {
    margin: 0 24px;
  }
}

.State form {
  padding: 20px 0;
}

.State-hero {
  min-height: 71px;
  border-bottom: 1px solid #e8e8e8;
}

.State-hero h1 {
  font-size: 24px;
  font-weight: normal;
  height: 100%;
  vertical-align: middle;
  line-height: 66px;
}


.State h3:before {
  display: block;
  content: 'State';
  background-color: #4bc6d4;
  color: white;
  height: 60px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 3em 0;
  padding: 0; 
}

form {
  margin: 0 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}
