@import "style"

$break: 700px

.app *
  color: rgb(71,71,71)

.elements
  width: 100%
  display: flex
  //width: 500px
  padding: 0 0
  flex-direction: column
  list-style: none
  //max-width: 600px
  flex-grow: 1

.fetch-panel
  margin: 0px auto
  height: 100%fo
  width: 100%
  overflow-y: scroll
  @media (min-width: $break + 1px)
    margin-left: 20px

  > h2
    font-size: 30px
    color: gray
    width: 100%
    text-align: center
    margin: 30px auto


.element:nth-of-type(odd)
  background-color: #dadada

.element:nth-of-type(even)
  background-color: #ececec


.element
  display: table
  width: 100%
  box-sizing: border-box
  padding: 10px



  form
    //margin-left: 20px
    //float: right
    width: 100%
    display: flex
    margin-top: 10px
    align-items: flex-end
    flex-direction: column

  // .leave, button
  //   float: right

  .leave
    margin-top: 12px

  .sub-path
    width: 150px
    text-align: right
    display: inline-block
    height: 30px

  .sub-input
    height: 30px
    margin: 2px 0

  .sub-group
    margin: 2px 0

  .sub-input[type=checkbox]
    height: 14px

  .set, .call
    float: right

  .json
    display: none


.path
  width: 100%
  //background-color: cyan
  border-bottom: 1px solid black
  display: block
  font-size: 22px
  font-weight: 100
  color: black



button[type=submit]:focus, button[type=submit]:hover
  outline: 1px solid black
  outline-offset: 2px

input[type=text]:focus, input[type=text]:hover
  outline: none
  //border-bottom: 1px solid blue !important
  background-color: rgb(240,240,240) !important

button[type=submit]
  outline: 1px solid transparent
  outline-offset: 2px
  float: right
  height: 30px
  width: 120px
  font-size: 16px
  text-align: center
  background-color: rgb(96, 192, 152)
  transition: all 0.3s ease
  border: none
  margin: 15px 0
  color: white

button[type=submit].disconnected
  background-color: rgb(210, 100, 100)

// button[type=submit].connecting
//   background-color: rgb(210, 100, 100)

button.add
  display: block


.parent-path
  width: 100%
  border-bottom: 1px solid
  display: block


.container
  display: flex
  height: 100vh

input:not([type=radio]):not([type=checkbox])
  height: 24px
  font-size: 16px
  font-weight: 100

.input-group
  margin: 5px 0


.config
  min-width: 320px

  .fetch-settings
    margin-top: 40px
    fieldset
      margin-top: 30px

  .connection
    .pulldown
      position: relative
      width: 100%
      height: 30px

      input
        border-bottom: 1px solid black
        height: 100%
        //position: absolute
        background-color: white
        box-sizing: border-box
        //z-index: 3

    .pulldown-caret
      position: absolute
      right: 0
      z-index: 4
      top: 4px

    .pulldown-options-wrap
      overflow: hidden
      position: absolute
      top: 100%
      width: 100%
      pointer-events: none

    .pulldown-options-wrap.expanded
      pointer-events: initial

    .pulldown-options
      transition: all 0.3s ease
      transform: translateY(-100%)

      li
        padding: 1
        padding-top: 3px
        font-weight: 100
        span
          font-size: 17px
          padding: 2px
        border-bottom: 1px solid black
        width: 100%
        height: 24px
        background-color: lightgrey



    .expanded .pulldown-options
      transform: translateY(0%)

    input
      height: 100%
      width: 100%

  //background-color: rgb(242, 242, 242)

  .fetch-settings:not(.connection-status-connected)
    //opacity: 0.4

  fieldset
    margin: 20px 0

  legend
    margin-bottom: 10px
    font-size: 21px



  label.label-floatlabel
    left: 0px !important

  input[type="text"]
    width: 100%

  .value-filter, .path-filters input
    margin-bottom: 10px
  //   display: flex
  //   margin: 0px -5px
  //   > *
  //     flex-grow: 1
  //     margin: 5px 5px

  // label
  //   height: 20px
  //   width: 100px
  //   box-sizing: border-box
  //   display: inline-block
  //   text-align: center

  input[type=text]
    border: none
    border-bottom: 1px solid
    font-size: 17px
    //margin-bottom: 4px
    //height: 20px
    //box-sizing: border-box

  input[type=checkbox]
    width: 20px
    height: 20px
    margin: 0 0
    transition: all 1s ease

    //display: none

  input[type=checkbox]:disabled::before
    border-color: gray
    color: gray

  input[type=checkbox]:disabled:not(:checked)::before
    border-color: gray
    color: white


  input[type=checkbox]::before
    content: 'X'
    text-align: center
    color: white
    width: 20px
    height: 20px
    display: inline-block
    border: 2px solid black
    background-color: white
    font-size: 16px

  input[type=checkbox]:checked::before
    color: black
    line-height: 20px



@media (max-width: $break)
  .container
    display: block

  .fetch-panel
    height: auto
    width: 100%

  .config
    width: 100%
    min-width: initial

button:disabled
  opacity: 0.3

.config input[type=text].ng-invalid
  border-bottom: 1px solid red

.method
  textarea
    display: block
    font-size: 16px
    font-weight: 300
    margin: 20px 0
    width: 250px
    height: 1.5em

.config
  .radio-group
    margin: 10px 0px
    .radio-item
      label
        margin-left: 5px
      width: 49%
      display: inline-block
