.elements {
  display: flex;
  //width: 500px;
  padding: 0 0;
  flex-direction: column;
  list-style: none;
  //max-width: 600px;
  flex-grow: 1;
  margin: 0 auto;
  height: 100%;
  overflow-y: scroll;
}

.element {
  display: table;
  width: 100%;
}

.path {
  width: 100%;
  background-color: cyan;
  display: block;
  font-size: 22px;
}

body {
  width: 100vw;
  margin: 0 0;
}

body > * {
  width: 100%;
}

button.add {
  display: block;
}

.parent-path {
  background-color: gray;
  color: white;
  display: block;
}

.container {
  display: flex;
  height: 100vh;
}

.config {
  min-width: 300px;
}

@media (max-width: 700px) {
  .container {
    display: block;
  }
  .elements {
    height: auto;
    width: 100%;
  }
  .config {
    width: 100%;
  }
}
