{
  "presets": [
    "@babel/preset-react",
    ["@babel/env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 9"]
      },
      "useBuiltIns": "usage",
      "debug": true
    }]
  ],
  "plugins": ["transform-class-properties"]
}
