language: node_js

node_js:
    - "stable"

before_install:
- export CHROME_BIN=/usr/bin/google-chrome
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
- openssl aes-256-cbc -K $encrypted_4ffd42fb1c7d_key -iv $encrypted_4ffd42fb1c7d_iv
  -in id_rsa.enc -out id_rsa -d

after_success:
- npm run gh-pages-travis

branches:
  except:
  - gh-pages

env:
  global:
  - SSH_KEY="id_rsa"
  - GIT_NAME="Gerhard Preuss"
  - GIT_EMAIL="gelipp@gmail.com"
  - SOURCE_DIR="prod"
  - DEPLOY_BRANCH="master"
