<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"></link>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <script data-main="js/main.js" src="js/require.js"></script>
    <script src="js/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <link type="text/css" href="style/jet.css" rel="stylesheet"></link>
  </head>
  <body>    
  </body>
  

  <script type="text/x-handlebars" id="ember-main-template">      
    <div class="container">
      <div class="row">        
        <h1 class="page-header span12">
          <i class="icon-star"></i>Jet-Viewer {{version}}
          <span {{bindAttr class=":label labelType :pull-right"}}>
            <h2 id="status-text">{{status}}</h2>
          </span>
        </h1>
      </div>
      <div class="row" style="opacity:1.0" id="main">
        <div class="span12" id="select">
          <ul class="nav nav-tabs" id="select_tab">
            <li>
              <a href="#tree">Tree</a> 
            </li>
            <li>
              <a href="#search">Search</a> 
            </li>
            <li>
              <a href="#none">None</a> 
            </li>
          </ul>
          <div class="tab-content">
            <div id="tree" class="tab-pane fade">
              {{view JetViewer.TreeView}}
            </div>
            <div id="search" class="tab-pane fade">
              {{view JetViewer.SearchView}}
            </div>
            <div id="none" class="tab-pane fade">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span12" id="main">
          <div id="dash">
          {{view JetViewer.DashView}}        
          </div>
        </div>
      </div>
    </div>
  </script>


  <script type="text/x-handlebars" id="ember-search-template">      
    <div class="form-search breadcrumb" id="search">
      {{view inputView classNames="input search-query span11"}}
      <i class="unselect-all icon-star-empty pull-right" {{action "unselectAll"}}></i>
      <i class="select-all icon-star pull-right" {{action "selectAll"}}></i>
    </div>
    <ul class="nav nav-tabs nav-stacked" id="search-leafs">
      {{#each matches}}
      {{view JetViewer.LeafView itemBinding="this" tagName="li" displayNameBinding="path"}}
      {{/each}}
    </ul>        
  </script>

  <script type="text/x-handlebars" id="ember-nodes-template">      
    <ul class="breadcrumb">
      {{#each breadcrumbs}}
      <li {{action "clickBreadcrumb"}} >
        <a href="#">{{name}}</a>
        <span class="divider">/</span>
      </li> 
      {{/each}}
    </ul>
    <div>
      <ul class="nav nav-tabs nav-stacked">
        {{#each childNodes}}
        {{view JetViewer.NodeView itemBinding="this" tagName="li" displayNameBinding="name"}}
        {{/each}}
        {{#each childStates}}
        {{view JetViewer.LeafView itemBinding="this" tagName="li" displayNameBinding="name"}}
        {{/each}}
        {{#each childMethods}}
        {{view JetViewer.LeafView itemBinding="this" tagName="li" displayNameBinding="name"}}
        {{/each}}
      </ul>        
    </div>
  </script>


  <script type="text/x-handlebars" id="ember-tree-element-template">
    <a href="#">
      <i {{action "onIconClick"}} {{bindAttr class="isLeaf:icon-leaf isNode:icon-folder-open"}}></i>
      <span {{action "onNameClick"}}> {{displayName}}</span>
      <i {{action "toggleSelected"}} {{bindAttr class="isSelected:icon-star isNotSelected:icon-star-empty :toggle-button :pull-right"}}></i>
    </a>
  </script>


  <script type="text/x-handlebars" id="ember-dash-template">
    {{#each selectedStates}}
    {{#view JetViewer.StateRowView itemBinding="this"
    classNames="jet-row row"}}
    <div class="jet-label span5 ">{{item.path}}
      {{#unless item.schema.read_only}}
      <button {{action changeState}} {{bindAttr class=":btn :btn-primary :pull-right
                                 isDisabled:disabled"}}>change</button>
      {{/unless}}
    </div>
    <div class="control-group span7">
      {{view JSONInputView viewName="inputView"
      isReadonlyBinding="item.schema.read_only" classNames="span7"}}    
      {{#if error}}
      <div class="error control-group">
        {{view JetViewer.AutoHeightTextArea valueBinding="error" classNames="span7"}}
      </div>
      {{/if}}
    </div>
    {{#if showHistory}}
    {{#each item.history.content}}
    {{#view JetViewer.FadeInView contentBinding="this" classNames="row history"}}
    {{content.date}}
    {{/view}}
    {{/each}}
    {{/if}}
    {{/view}}
    {{/each}}
    {{#each selectedMethods}}
    {{#view JetViewer.MethodRowView itemBinding="this"
    classNames="jet-row row"}}
    <div class="jet-label span5 ">{{item.path}}
      <button {{action callMethod}} {{bindAttr class=":btn :btn-primary :pull-right
                                 isDisabled:disabled"}}>call</button>
    </div>
    <div class="control-group span7">
      {{view JSONArrayInputView viewName="inputView"
      classNames="span7"}}    
      {{#if result}}
      <div class="success control-group">
        {{view JetViewer.AutoHeightTextArea valueBinding="result" classNames="span7"}}
      </div>
      {{/if}}
      {{#if error}}
      <div class="error control-group">
        {{view JetViewer.AutoHeightTextArea valueBinding="error" classNames="span7"}}
      </div>
      {{/if}}
    </div>
    {{/view}}
    {{/each}}
  </script>


  <script type="text/template" id="method-result-template">      
    <div class="alert alert-success fade in">
      <a class="close" data-dismiss="alert">x</a>
      <strong>Result:</strong>
      <% print(JSON.stringify(value)); %>
    </div>
  </script>

  <script type="text/template" id="method-warning-template">      
    <div class="alert fade in">
      <a class="close" data-dismiss="alert">x</a>
      <strong><%= heading %></strong>
      <%= message %>
    </div>
  </script>

  <script type="text/template" id="method-error-template">      
    <div class="alert alert-error fade in">
      <a class="close" data-dismiss="alert">x</a>
      <strong>Error:</strong>
      <%= value.message %>, code=<%= value.code %>
    </div>
  </script>   
</html>
