
#status {
    float: right;
}

fieldset {
    border: none;
}


@media screen and (max-width: 768px){
    #fetch-advanced-config{ 
	display: none; 
    }

    #jet-config input{
	display: none;
    }

    #connect {
	display: inline;
    }

    label {
	display: none;
    } 
    
    legend {
	display: none;
    }
}

#fetch-custom {
    display: block;
}

.connecting .disconnecting {
    color: yellow;
}

.disconnected {
    color: red;
}

.connected{
    color: green;
}

html {
    font-size: 100%;
}
body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}

body input,textarea {
    font-weight: normal;
    font-size: 16px;
    color: #555;
    border: 1px solid #CCC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    line-height: 22px;
    height: 22px;
    vertical-align: middle;
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    padding: 4px 6px;
}

.index {
    width: 20px;
    float: left;
}

.value {
    width: 95%;
    border: none;
    padding: 0px 0px;
    margin: 0px 20px;
}

#content div.row {
    padding: 10px 0;
}

#content div.row:nth-child(odd) {
    background-color: lightGray;
}
