body {
   width-min: 1260px;
   overflow: auto;
}

.jet-input input{
   width: 299px;
}

#dash{
   height: 650px;
   overflow:auto;
}

.history .span3{
   color:darkgray;
}

.badge.count {
   margin-top: 3px;
}

#dash-container div.span8 {
   padding-top: 5px;
   padding-bottom: 5px;
   border-top: 1px solid #eeeeee;
}

#preview-container div.span8 {
   padding-top: 5px;
   padding-bottom: 5px;
   border-top: 1px solid #eeeeee;
}

.highlight .span8 {
   background-color:#f5f5f5;
}

.jet-row .span8:hover {
   background-color:#f5f5f5;
}

.jet-row .span8{
   width-min:770px ! important;
}


