<form class="connection connection-status-{{status}}" ng-submit="submit()">
  <div class="pulldown">
    <input tabindex="1" ng-model="state.url" placeholder="ws://jet.nodejitsu.com:80" type="text" required autofocus>
    <button tabindex="2" type="button" ng-click="state.expanded = !state.expanded">V</button>
    <ul ng-show="state.expanded">
      <li ng-repeat="con in storedConnections" ng-click="state.url=con; state.expanded=false">
        <span>{{con}}</span><button tabindex="-1" type="button" ng-click="removeStoredConnection(con)">X</button>
      </li>
    </ul>
    <button ng-disabled="!nextAction || !isValidWsUrl" type="submit" tabindex="3">{{nextAction}}</button>
  </div>
</form>
