<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Radar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- For iOS web apps -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Radar">
    {{#if development}}
    <link rel="stylesheet" href="css/styles.css">
    {{else}}
    <link rel="stylesheet" href="css/styles.min.css">
    {{/if}}

  </head>
  <body>
    <div id="app"></div>
    {{#if development}}
    <script src="js/script.js"></script>
    {{else}}
    <script src="js/script.min.js"></script>
    {{/if}}
  </body>
</html>
