@import "../../node_modules/md-components/lib/css/mixins";

.Searchbar {
  padding: 10px 16px;
}

@include medium {
  .Searchbar {
    padding: 16px 24px;
  }
}

.Searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
  transition: box-shadow 0.3s ease;
  cursor: text;

  &>* {
    margin-bottom: -1px;
  }
}

.Searchbar-icon {
  width: 56px;
}

.Searchbar-icon svg {
  fill: #d6d6d6;
}

.Searchbar .Chip-wrapper {
  flex-grow: 1;
  input, .Chip {
    font-size: 16px;
  }
}

.Searchbar button svg {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.Searchbar button.collapsed svg {
  transform: rotate(0);
}
