<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" title="{{unbound version}}" {{action clear}}>
        <i id="traffic-icon" class="icon-star icon-white"></i>
        Radar
      </a>
      <div>
      {{outlet toolbar}}
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">  
  <div class="row-fluid">
    <div class="span12">
      <div>
asdlksdlkj
      {{outlet content}}
      </div>
    </div>
  </div>
</div>

