{{#each view.breadcrumbs}}
  <li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">{{name}}</a>
    <ul class="dropdown-menu tree-nav">
      {{#each childNodes}}
        {{view Radar.NodeView tagName="li" displayNameBinding="name"}}
      {{/each}}
      {{#if childStates}}
        <li class="divider"></li>
      {{/if}}
      {{#each childStates}}
        {{view Radar.LeafView tagName="li" displayNameBinding="name"}}
      {{/each}}
      {{#if childMethods}}
        <li class="divider"></li>
      {{/if}}
      {{#each childMethods}}
        {{view Radar.LeafView tagName="li" displayNameBinding="name"}}
      {{/each}}
    </ul>        
  </li> 
{{/each}}

