<div class="form-search breadcrumb" id="search">
  {{view inputView classNames="input search-query span11" placeholder="test.foo"}}
  <i class="unselect-all icon-star-empty pull-right" {{action "unselectAll"}}></i>
  <i class="select-all icon-star pull-right" {{action "selectAll"}}></i>
</div>
<ul class="nav nav-tabs nav-stacked" id="search-leafs">
  {{#each matches}}
  {{view JetViewer.LeafView itemBinding="this" tagName="li" displayNameBinding="path"}}
  {{/each}}
</ul>        
