<form class="navbar-search pull-left dropdown dropdown-toggle"
      data-toggle="dropdown" action="">
  <div data-toggle="dropdown">
  {{view Ember.TextField valueBinding="searchExpression"
  classNames="search-query span2" placeholder="test.foo"}}
  </div>
  <ul class="dropdown-menu search-nav">
    <li>
      <a><i>all matches</i>
        <i class="unselect-all icon-star-empty pull-right" {{action "unselectAll"}}></i>
        <i class="select-all icon-star pull-right" {{action
           "selectAll"}}></i>
      </a>
    </li>
    <li class="divider"></li>
    {{#each matches}}
    {{view Radar.LeafView itemBinding="this" tagName="li" displayNameBinding="path"}}
    {{/each}}
  </ul>
</form>

