@import "../node_modules/md-components/lib/css/mixins";
@import "../node_modules/md-components/lib/css/base";
@import "./css/Split";
@import "./css/State";
@import "./css/Searchbar";
@import "./css/Connections";
@import "./css/FieldSelection";
@import "./css/Overwrites";

.State-avatar, .Method-avatar {
  text-align: center;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  font-size: 22px;
  color: white;
}

.Method-avatar {
  background-color: #9f85ea;
}

.Traffic {
  padding-left: 16px;
  padding-right: 16px;
  @include xlarge {
    padding-left: 24px;
    padding-right: 24px;
  }
  min-height: 71px;
  padding-bottom: 10px;
  border-bottom: 1px solid gainsboro;
}

.Traffic h3 {
  margin: 0;
  padding: 14px 0;
}

.Traffic-stats {
  font-size: 14px;
  @include medium {
    font-size: 16px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Messages textarea {
  width: 80%;
  background-color: transparent;
  border: none;
  line-height: 20px;
  font-size: 14px;
}

.Traffic-stat {
  display: inline-block;
  span:first-child {
    margin-right: 4px;
  }
  span:nth-child(2) {
    margin-right: 20px;
    font-weight: bold;
  }
}

.Traffic-stat-in span:nth-child(2){
  color: #c576c5;
}

.Traffic-stat-out span:nth-child(2){
  color: #71a2ff;
}

.Message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 16px;
}

.Message-avatar-in {
  background-color: #c576c5;
}

.Message-avatar-out {
  background-color: #71a2ff;
}

.State-avatar {
  background-color: #4bc6d4;
}

.Info {
  text-align: center;
  margin: 30px auto;
}

.Info ul {
  padding-left: 0;
  list-style: none;
}

.Icon {
  fill: #505050;
  cursor: pointer;
}

.Icon.Icon-Remove {
  fill: #ea6262;
}

.Icon.Icon-Add {
  fill: #54c744;
}

.Star--active {
  fill: orange;
}

.Split-left .Searchbar {
  flex-shrink: 0;
  flex-grow: 0;
}

.Split-right .State {
  flex-grow: 1;
}


.Split-left .List {
  margin: 0 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex-grow: 1;
}

.State-field {
  margin-right: 4px;
}

.State-field + .State-field:before {
  content: ' - ';
  margin-right: 4px;
}

.State-field-name {
  color: #5a5a5a;
}

.State-field-value {
  margin-left: 2px;
}

.Split-left .List {
  margin-top: -1px;
  border-top: 1px solid #e8e8e8;
}

.Split-right .IconButton {
  position: relative;
  & > a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


