<div class="config">
  <div ng-init="pulldownExpand = false; selected='Daemon'" class="pulldown">
    <span ng-click="pullDownExpand">{{selected}}</span>
    <ul ng-show="pulldownExpand">
      <li ng-repeat="con in storedConnections" ng-click="selected=con">
        {{con}}
      </li>
    </ul>
  </div>
<form ng-repeat="con in storedConnections" ng-hide="status === 'connected' && url !== con">
  <span>{{con}}</span>
  <button ng-disabled="status !== 'disconnected'"  ng-click="connect(con)">connect</button>
  <button ng-disabled="url !== con" ng-click="disconnect()">disconnect</button>
  <button ng-disabled="url === con && status !== 'disconnected'" ng-click="removeStoredConnection(con)">remove</button>
</form>
<button ng-if="storedConnections.length > 0" ng-click="clearStoredConnections()">Clear</button>
<form ng-hide="status === 'connected'" ng-submit="connect(newUrl); newUrl=''">
  <input ng-model="newUrl" placeholder="ws://jet.nodejitsu.com:80" required>
  <input ng-disabled="!isValidWsUrl && status !== 'disconnect'" type="submit" value="connect">
  <span class="connection-status {{status}}">{{status}}</span>
</form>


<h1>Fetch Rule</h1> <label>JSON</label><input ng-model="showFetchExpressionAsJSON" type="checkbox" value="JSON">
<form  ng-submit="fetch()"  ng-show="!showFetchExpressionAsJSON">

  <fieldset ng-disabled="status !== 'connected'">
    <legend>Path</legend>
    <label>Case Sensitive</label><input ng-model="fetchCaseSensitive" type="checkbox">
    <button type="button" class="add" ng-repeat="pathFilter in pathFilters | filter:{active:false}" ng-click="pathFilter.active=true">
      + {{pathFilter.op}}
    </button>
    <div ng-repeat="pathFilter in pathFilters | filter:{active:true}">
      <span>{{pathFilter.op}}</span>
      <input type="text" ng-model="pathFilter.value" required>
      <input type="button" ng-click="pathFilter.active=false" value="remove">
    </div>
  </fieldset>

  <fieldset ng-disabled="status !== 'connected'">
    <legend>Value</legend>
    <button type="button" class="add" ng-repeat="valueFilter in valueFilters | filter:{active:false}" ng-click="valueFilter.active=true">
      + {{valueFilter.op}}
    </button>
    <div ng-repeat="valueFilter in valueFilters | filter:{active:true}">
      <span>{{valueFilter.op}}</span>
      <input type="text" placeholder="address.street (optional)" ng-model="valueFilter.fieldString">
      <input type="{{valueFilter.type}}" ng-model="valueFilter.value" required>
      <select ng-model="valueFilter.type" ng-options="name as type for (name,type) in inputTypes"></select>
      <input type="button" ng-click="valueFilter.active=false" value="remove">
    </div>
  </fieldset>

  <fieldset ng-disabled="status !== 'connected'">
    <legend>Sort</legend>
    <label>From</label><input type="number" ng-model="fetchFrom">
    <label>To</label><input type="number" ng-model="fetchTo">
  </fieldset>
  <input ng-disabled="status !== 'connected'" type="submit" value="fetch">
</form>

<form ng-show="showFetchExpressionAsJSON">
  <textarea disabled ng-model="fetchExpressionJSON">
  </textarea>
</form>
</div>

  <ul class="elements">
    <li class="element" ng-repeat="element in elements">
      <div ng-if="element.$call" method="element"></div>
      <div ng-if="element.$save" state="element"></div>
    </li>
  </ul>
